<div class="container">
  <br>
  <b>Your followers</b>
  <br>
  <br>

   <% current_user.followers.pluck(:username, :handle).compact.each do |follower_username, follower_handle| %>
     <%= follower_username %>
     <b>&nbsp;&nbsp;&nbsp;@<%= follower_handle %></b>
     <br />
   <% end %>
   <br>
</div>








