<div class="container">
  <br>
  <br>
  <b>Following</b>
  <br>
  <br>
    <% current_user.following.pluck(:username, :handle).compact.each do |following_username, following_handle| %>
      <%= following_username %>
      &nbsp;&nbsp;&nbsp;<b>@<%= following_handle %></b>
    <br />
    <% end %>
    <br>
  <%= link_to "Return", tweets_path, class: "btn btn-primary" %>
</div>
