
<div class="container">
  <h1><%= @tweet.id %></h1>

  <p><%= @tweet.content %></p>
<br>
<br>
  <b>Tweeted on </b><%= @tweet.created_at.strftime("%d %b %Y at %I:%M %p") %>

<br>
<br>
  <%= link_to 'Remove Tweet', :method => :delete, data: { confirm: 'Are you sure?'} %>

</div>