<h1><%= @user.email %>'s Profile</h1>


<p><%= @user.email %></p>
<% @user.tweets.reverse.each do |tweet| %>
  <p><%= tweet.content %></p>
  -------------------------------------------------------------
<% end %>